body{
    height: 100%;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e4c170;
}
.Main{
    font-family: garamond,serif;
    font-size: 3vw;
    text-align: center;
    justify-content: center;
    border-width: 5px;
    border-style: dashed solid dotted solid;
    padding: 50px;
    border-radius: 50px;
    height:69vh;
    color: #62320c;
    background-color:#efd13b;
    margin-bottom: 2vh;
}
.bottom{
    display: flex;
    justify-content: center;
    bottom:0;
    overflow: visible;
}
.piece_w{
    margin: 5px;
    font-family: papyrus;
    border-radius: 10px;
    background-color: #62320c;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 3vw;
}
.piece_b{
    margin: 5px;
    font-family: papyrus;
    border-radius: 10px;
    background-color: #b7521e;
    color: black;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 3vw;
}
.piece_b:hover,.piece_w:hover{
    background-color: #efd13b;
}
ul{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.le-conns{
    margin-top: 1cm;
    display: flex;
    justify-content: space-evenly;
}